{{ define "partials/header" }}
<header class="flex items-center justify-between p-10 border-b mb-14 border-sky-800">
  <div>
     <h1 class="p-2 text-6xl font-bold"><a href="{{ url }}">GOHST</a></h1>
  </div>
 <div>
    {{ template "partials/nav" . }}
 </div>
</header>
{{ end }}
