{{ define "title" }}Home - Welcome to Gohst{{ end }}
<img
  src="{{ url }}/static/images/logo-transparent.png"
  alt="Gohst"
  class="w-1/2 h-auto mx-auto my-4 md:w-1/5"
/>
<div class="p-10 m-10 text-center text-white rounded-md bg-sky-800">
  <h1 class="text-4xl">GO Framework</h1>
</div>

<p class="text-center">Lightweight boilerplate to get any project started.</p>
