{{ define "title" }}Home - Welcome to Gohst{{ end }}
<div class="p-10 m-10 text-center text-white rounded-md bg-sky-800">
  <h1 class="text-4xl">Welcome to GOHST</h1>
</div>
<p class="text-center">This is the home page rendered from a template.</p>
