{{define "title"}}Login - Welcome to Gohst{{ end }}
<div class="w-10/12 p-10 mx-auto border rounded-md border-sky-900">
  <!-- Form Layouts: Labels On Top -->
  <form
    class="space-y-6 dark:text-gray-100"
    action="{{ url }}/login"
    method="post"
  >
    {{ .CSRF.Input }}
    <div class="space-y-1">
      {{ template "components/forms/label" ((index .Data.Form.Fieldset "email").Label) }}
      {{ template "components/forms/input" ((index .Data.Form.Fieldset "email").Input) }}
    </div>
    <div class="space-y-1">
      {{ template "components/forms/label" ((index .Data.Form.Fieldset "password").Label) }}
      {{ template "components/forms/input" ((index .Data.Form.Fieldset "password").Input) }}
    </div>
    <div class="flex items-center justify-center">
      {{ template "components/forms/button" (index .Data.Form.Buttons "submit") }}
    </div>
  </form>
  <!-- END Form Layouts: Labels On Top -->
</div>
